/* The common Nav part start*/



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    

}
nav{
    width: 100%;
    height: 75px;
    border-bottom: 3px solid black;
    line-height: 73px;
    padding: 0px 100px;
    position: fixed;
    z-index: 1;
    background-color: white;
}
nav .logo{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
nav .logo h1{
    float: left;
    color: chocolate;
    text-transform: uppercase;
}
nav ul{
    float: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
}
nav ul li a{
    
    color: chocolate;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    padding:0px 22px;
}
nav ul li a:hover{
    color: white;
    background-color: black;
    display: block;
    
}
nav ul li .act{
    color: black;
}

.toggle-button{
    position: absolute;
    top: 1.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}
@media (max-width: 1000px){
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
    }
    .nav{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        width: 100%;
        flex-direction: column;

    }
    .navbar-links li{
        text-align: center;
    }
    .navbar-links li a{
        padding: 0.5rem 1rem;
    }
    .navbar-links.act{
        display: flex;
    }
}

/* The common Nav part end*/

/* Home 1 part starts*/

.holdingcontainer{
    width: 100%;
    display: flex;
    padding: 50px;
    box-sizing: border-box;
    flex-direction: row;
    padding-top: 122px;
    

}

.overviewimage{
    flex: 1;
    padding: 30px;
    font-size: 30px;
    margin: 3px;
    float: right;
    border: 2px solid black;
}
.overviewimage img{
    width: 100%;
    height: 100%;
}
.overviewtext{
    flex: 1;
    padding: 30px;
    font-size: 35px;
    margin: 3px;
    text-align: left;
    border: 2px solid black;
}

@media screen and (max-width: 1000px){
    .holdingcontainer{
        flex-direction: column;
    }
    
    .overviewimage img{
        height: fixed;
        width: 90%;
    }

}

/*.overviewimage img{
    padding-top: 75px;
    padding-left: 19px;
}*/

/* Home 1 part ends*/