/* The common Nav part start*/



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
nav{
    width: 100%;
    height: 75px;
    border-bottom: 3px solid black;
    line-height: 73px;
    padding: 0px 100px;
    position: fixed;
    z-index: 1;
    background-color: white;
}
nav .logo{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
nav .logo h1{
    float: left;
    color: chocolate;
    text-transform: uppercase;
}
nav ul{
    float: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
}
nav ul li a{
    
    color: chocolate;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    padding:0px 22px;
}
nav ul li a:hover{
    color: white;
    background-color: black;
    display: block;
    
}
nav ul li .act{
    color: black;
}

.toggle-button{
  position: absolute;
  top: 1.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

@media (max-width: 1030px){
  .toggle-button{
      display: flex;
  }
  .navbar-links{
      display: none;
      width: 100%;

  }
  .nav{
      flex-direction: column;
      align-items: flex-start;
  }
  .navbar-links ul{
      width: 100%;
      flex-direction: column;

  }
  .navbar-links li{
      text-align: center;
  }
  .navbar-links li a{
      padding: 0.5rem 1rem;
  }
  .navbar-links.act{
      display: flex;
  }
}

/* The common Nav part end*/

/* Home 2 Part start*/


* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 75px;

  
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  background-color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* Caption text */
.text a{
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  background-color: white;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.text a:hover{
    color: white;
    background-color: black;
}

@media screen and (max-width: 1030px){
  .slideshow-container img{
    width: 100%;
    height: 62.5%;
  }
}

/* Home 2Part end */
