*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    

}
nav{
    width: 100%;
    height: 75px;
    line-height: 73px;
    padding: 0px 100px;
    position: fixed;
    z-index: 1;
    background-color: white;
    border-bottom: 3px solid rgb(0, 0, 0);
    
}
nav .logo{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
nav .logo h1{
    float: left;
    color: chocolate;
    text-transform: uppercase;
}

nav ul li{
    display: inline-block;
    list-style: none;
}
nav ul li a{
    
    color: chocolate;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    padding:0px 20px;
}
nav ul li a:hover{
    color: white;
    background-color: black;
    display: block;
}

.toggle-button{
    flex: 1;
    position: absolute;
    top: 1.75rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

nav ul{
    flex: 1;
    position: relative;
    
}